[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/communicationpublique-theme"]
	path = themes/communicationpublique-theme
	url = git@github.com:osunyorg/communicationpublique-theme.git
