header#document-header
    @include media-breakpoint-down(desktop)
        nav.primary-menu
            .nav-level-1
                > li:nth-last-child(3)
                    border: 0
    
// projects: display them as a post (image to the left)
.projects__section
    .projects--list
        .project
            a
                pointer-events: none
            .project-meta *
                color: var(--color-text)
            &:hover .project-title a
                color: inherit
            .media,
            .media:empty
                aspect-ratio: auto
                margin-left: var(--grid-gutter-negative)
                @include media-breakpoint-up(desktop)
                    margin-right: 0
                    width: columns(3.54)
            + .project
                margin-top: var(--grid-gutter)
        @include media-breakpoint-up(desktop)
            gap: var(--grid-gutter)
            .project
                align-items: flex-start
                flex-direction: row
                .project-content
                    flex-direction: row
                    justify-content: space-between
.projects__page
    .hero 
        .content 
            hgroup.has-lead > p
                @include body-text
        @include media-breakpoint-up(desktop)
            .hero-text
                width: columns(7)
            figure
                width: columns(4)
        .dropdown-share
            right: unset
            left: 0
